
/* Start statistics */
.statistics {
  margin-top: 25px;
  color: #333;
}
.statistics .box {
  background-color: rgb(249, 249, 250);
  padding: 15px;
  overflow: hidden;
}
.statistics .box > i {
  float: left;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
}
.statistics .box .info {
  float: left;
  width: auto;
  margin-left: 10px;
}
.statistics .box .info h3 {
  margin: 5px 0 5px;
  display: inline-block;
}
.statistics .box .info p {
  color: rgb(153, 145, 145);
}

/* End statistics */
