.cotainer__of-dashboard {
  max-width: 120rem;
  // margin: 8rem auto;
  background: white;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
  font-size: inherit;
}

.header {
  font-size: 1.4rem;
  background: #fff;
  border-bottom: 1px solid var(--color-grey-light2);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    height: auto;
    align-content: flex-start;
    padding-bottom: 1rem;
  }
}

.content {
  display: flex;
  //   padding-top: 8rem;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background: var(--color-grey-dark);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.625rem;
  border-right: 1px solid #eee;
  // box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
  //   0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

.dashboard__main-content {
  background: #fff;
  flex: 1;
  overflow-y: scroll;
  height: 90vh;

  .create-rental-heading {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 20px;

    .page-title {
      font-size: 2.325rem;
      font-weight: 500;
      line-height: 1;
      color: #3d5170;
    }

    .page-subtitle {
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      color: #818ea3;
      font-size: 0.9rem;
    }
  }
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 1.5rem;
  background: var(--color-grey-light1);
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  &__description {
    padding: 1.5rem;
    flex: 0 0 60%;
    margin-right: 1.5rem;
    background: #fff;
    border-radius: 0.625rem;
    box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11),
      0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06),
      0 7px 70px rgba(90, 97, 105, 0.1);

    @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }

  &__user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
