.subscription {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;

    @media only screen and (max-width : $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width : $bp-small) {
        flex-direction: column;
    }

    &__alert {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;

        @media only screen and (max-width : 760px) {
            width: 100%;
        }
    }

    &__manage {
        width: 80%;
        background: #fff;
        border-radius: .625rem;
        box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);

        @media only screen and (max-width : 760px) {
            width: 100%;
        }

        &-heading {
            padding: 2.3rem;
            border-bottom: 1px solid #eee;
            color: #3d5170;
            display: flex;
            justify-content: space-between;
            align-items: center;


            & h2 {
                font-weight: 500;
                display: inline-block;

                @media only screen and (max-width : 527px) {
                    font-size: 15px;

                }

                @media only screen and (max-width : 457px) {
                    font-size: 13px;

                }
            }

            &-status {
                font-weight: 900;
                display: inline-block;
            }
        }

        &-footer {
            padding: 1rem;
            border-bottom: 1px solid #eee;
            color: #3d5170;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &-form {
            background-color: rgba(rgb(244, 243, 253), .5);
            padding: 3rem 0rem;
        }


        &-body {

            display: flex !important;
            flex-wrap: wrap;
            justify-content: center;

            &-text {
                color: rgba(30, 39, 42, 0.54);
                font-weight: 200;
                font-size: 1.7rem;
                padding-bottom: 1rem;
            }

        }


    }



    @media only screen and (max-width : $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width : $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }


    &__paymentmethods {
        margin-top: 1.5rem;
        width: 80%;
        background: #fff;
        border-radius: .625rem;
        box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);

        @media only screen and (max-width : 760px) {
            width: 100%;
        }

        &-heading {
            padding: 2.3rem;
            border-bottom: 1px solid #eee;
            color: #3d5170;

            & h2 {
                font-weight: 500;
                display: inline-block;
            }
        }


    }




}