// COLORS
$color-black: #000;
$color-white: #fff;
$color-grey-dark: #777;
$color-grey-dark-3: #333;

$color-kinda-black: #3d5170;
$color-primary-color: #e71921;

// BTN COLORS
$color-blue-btn: #7692ca;
$color-danger-delele: #fb6e78;
$color-loading-btn: #899cc3;
$color-landing-btn: rgb(79, 102, 236);

// CHECK AND RADIO BUTTON COLOR
$color-check-and-radio: #8193b8;

// general colors
$color-primary: #ff5c00;
$color-secondary: rgb(245, 114, 39);
$color-danger: #fb6e78;

// text colors
$color-dark: #3d5170;
$color-dark2: #333;
$color-grey: #777;
$color-light: #eee;
