
.widget-post {
//   min-width: 800px;
  min-height: 100px;
  height: auto;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-shadow: 0px 0px 15px 5px rgba(black, 0.1);

  background-color: #fff;
//   margin: auto;
  overflow: hidden;
  margin: 23px;
}

.widget-post__header {
  padding: 0.2em 0.5em;

  background-color: #eaeaea;
  color: #3f5563;
}
.widget-post__title {
  font-size: 20px;
  padding: 4px;
  font-weight: bold;
}

.widget-post__title i {
    margin-right: 4px;
    color: #2874f0;
}

.widget-post__content {
  width: 100%;
  height: 50%;
}
.widget-post__textarea {
  width: 100%;
  height: 100%;
  padding: 0.5em;

  border: none;
  resize: none;
}
.widget-post__textarea:focus {
  outline: none;
}

.widget-post__options {
  padding: 0.5em;
}
.widget-post___input {
  display: inline-block;

  width: 24%;
  padding: 0.2em 0.5em;

  border: 1px solid #eaeaea;
  border-radius: 1.5em;
}
.post-actions__label {
  cursor: pointer;
}

.widget-post__actions {
  width: 100%;
  padding: 0.5em;
}
.post--actions {
  position: relative;
  padding: 0.5em;

  background-color: #f5f5f5;
  color: #a2a6a7;
}
.post-actions__attachments {
  display: inline-block;
  width: 60%;
}

.post-actions__widget {
  display: inline-block;
  width: 38%;
  text-align: right;
}
.post-actions__publish {
    background: #2874f0;
    color: white;
    width: 120px;
    height: 40px;
    border: 0;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba($color: #000000, $alpha: 0.5);
    font-weight: 450;
    transition: 0.6s;
    overflow: hidden;
    font-weight: 500;
    letter-spacing: 1px;
}

.post-actions__publish:hover{
    color: white;
    background: #0d4cb3; 
}

.scroller::-webkit-scrollbar {
  display: none;
}

.is--hidden {
  display: none;
}

/* * SR * */
.sr-only {
  width: 1px;
  height: 1px;

  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);

  overflow: hidden;
  white-space: nowrap;

  position: absolute;
  top: 0;
}

/* *  Placeholder contrast * */
::-webkit-input-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: #666;
}
