$body-bg: #fff;

@import "~bootstrap/scss/bootstrap.scss";

html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 100px;
}
